h4 {
    font-size: 50px;
    text-align: left;  
    text-indent: 30px;
}

h1 {
   font-family: "Jersey 10", sans-serif; 
}

p {
    font-size: 40px;
    text-align: left;
    margin-right: 50%;
}

body {
    background-color: #07140e;
    text-align: center;
    color: white;
}

section {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    font-family: "Jersey 10", sans-serif;
}

.berg {
    display: grid;
    grid-template-rows: 1fr;
    background-image: url(berg.gif);
    height: 100px;
    width: 1900px;
    margin-top: 273px;
}

.bottom {
    background-color: rgb(0, 77, 192);
    width: 95rem;
    height: 50px;
    padding: 10%;
}